$base-primary-background-color: #ffffff;
$base-secondary-background-color: #494040;

$base-primary-font-color: #000000;
$base-secondary-font-color: #473737;

$base-focus-color: #a2a4a7;
$base-focus-color-active: #2c3e50;

$base-primary-button-color: #bcc6cf;
$base-secondary-button-color: #279b7e;
